#header, #left-sidebar, #right-sidebar {
  background-color: #EEE;
}

#main-content, #left-sidebar, #right-sidebar {
  padding: 5px 0;
  min-height: 800px;
}

#user_nav, #locale {
  height: 25px;
  float: right;
}

#user_nav {
  float: left;
}

#alert, #notice {
  background-color: #AA0000;
  color: white;
}
